.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

.map {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50vh;
}

/********** 
JOBS LIST
**********/

.jobs .title:hover {
  cursor: pointer;
  color: hsl(229, 86%, 56%);
  text-decoration: underline;
}
